

body::-webkit-scrollbar{
  width: 10px;
  background-color:#1F1F1F;
}


body::-webkit-scrollbar-thumb{
  background: #645caa;
  border-radius: 10px;
  border-right:2px solid #1F1F1F;
}


.bg-1{
    background-color:#1F1F1F;
}

.bg-2{
    background-color: #303030
}

.sticky1{
    background-color: #303030;
    transition: 0.8s;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
  .sticky1 a{
    color: white !important;
  }



  /* proyects */


  .container-proyects{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border: solid black 1px;
  }